

label {
  margin-bottom: 5px;
  text-align: right;/* add text-align property to right-align labels */
}

input
{
  width: 200px;

}
select {
  margin-top: 5px;
  padding: 5px;
  font-size: 16px;
  width: 400px; /* add width property to make input and select elements the same width */
}

Button {
  margin-top: 5px;

  padding: 5px 30px; /* increase padding for larger button */
  font-size: 16px;
  background-color: rgb(58, 104, 58);  
  color:white;
  border: none;
  cursor: pointer;
}

