.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    width: 20rem;
  }
  
  button {
    font: inherit;
    background-color: #3a3a3a;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
  }
  
  button:hover,
  button:active {
    background-color: #4a4a4a;
  }